<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
  <h1 class="text-center mt-4">Add Book</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Book Details</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/book/edit}" th:object="${book}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
              <label for="title">Title:</label>
              <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Enter title" required>
            </div>
            <div class="form-group">
              <label for="author">Author:</label>
              <input th:field="*{author}" type="text" class="form-control" id="author" placeholder="Enter author" required>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <input th:field="*{price}" type="number" class="form-control" id="price" placeholder="Enter price" required>
            </div>
            <div class="form-group">
              <label for="category">Category:</label>
              <input th:field="*{category}" type="text" class="form-control" id="category" placeholder="Enter category" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>