<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .book-card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
<div class="container">
  <h1 class="text-center">Bookstore</h1>

  <div class="row">
    <div class="col-md-4" th:each="book : ${books}">
      <div class="book-card">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Book Details</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="title">Title:</label>
              <p id="title" th:text="${book.getTitle()}"></p>
            </div>
            <div class="form-group">
              <label for="author">Author:</label>
              <p id="author" th:text="${book.getAuthor()}"></p>
            </div>
            <div class="form-group">
              <label for="price">Price:</label>
              <p id="price" th:text="${book.getPrice()}"></p>
            </div>
            <div class="form-group">
              <label for="category">Category:</label>
              <p id="category" th:text="${book.category.getName()}"></p>
            </div>
            <div class="text-center" style="display:flex;justify-content:space-around">
              <form th:action="@{/book/edit/{id}(id=${book.id})}" method="post">
                <button class="btn btn-primary" type="submit">
                  Edit
                </button>
              </form>
              <form th:action="@{/book/delete/{id}(id=${book.id})}" method="post">
                <button onclick="return confirm('Có muốn chắc là xóa hơm?')" class="btn btn-danger" type="submit">
                  Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
